---
import Layout from '../layouts/Layout.astro'
import Greeting from '@/components/Greeting.svelte'
import PlayListItems from '@/components/PlayListItems.astro'
import BackgroundGradient from '@/components/BackgroundGradient.astro'
---

<Layout title='Imanol Llona Music'>
  <div
    id='playlist-container'
    class='relative transition-all duration-1000 bg-[#22125f]'
  >
    <div class='relative z-10 px-6 pt-16 flex flex-col gap-4'>
      <!--<Greeting />-->

      <h1 class="text-3xl font-bold">Imanol Llona Music</h1>
      <h1 class="text-4xl font-bold">... para mí hacer música no es un trabajo es un placer ...</h1>
      <div>
        <h2>Música de cine, tv, publicidad, canciones...</h2>
        <h2>Cualquier formato o soporte</h2>
        <h2>Por encargo para proyectos concretos</h2>
      </div>
      
      
      <PlayListItems />

      <BackgroundGradient />
    </div>
  </div>
</Layout>
