---
interface Props {
  releaseMonth?: string
  releaseDay?: string
  releaseYear?: string
}

const { releaseMonth, releaseDay, releaseYear } = Astro.props
---

<footer class='px-6 py-14 text-table-text text-sm'>
  {releaseMonth && <span>{releaseMonth}&nbsp;{releaseDay}, {releaseYear}</span>  }
  {!releaseMonth && releaseYear && <span>Year: {releaseYear}</span>  }
</footer>
