---
//import { playlists } from '@/lib/data'
import PlayListItemCard from '@/components/PlayListItemCard.astro'
let playlists = [];

try {
  const response = await fetch(`https://imanol-llona-music-files.pages.dev/data.json?cache_bust=${Date.now()}`);
  const data = await response.json();
  playlists = data.playlists;
} catch (error) {
  console.error('Error fetching playlists:', error);
}
---

<div class="text-3xl mt-6">Álbumes</div>
<div class='flex flex-wrap  gap-2'>  
  {playlists.filter((item) => item.type == 'Album').map(playlist => <PlayListItemCard playlist={playlist} />)}
</div>

<div class="text-3xl mt-6">Hits</div>
<div class='flex flex-wrap  gap-2'>  
  {playlists.filter((item) => item.type == 'Hit').map(playlist => <PlayListItemCard playlist={playlist} />)}
</div>

<div class="text-3xl mt-6">Estilos musicales</div>
<div class='flex flex-wrap gap-2'>  
  {playlists.filter((item) => item.type == 'Estilo musical').map(playlist => <PlayListItemCard playlist={playlist} />)}
</div>